@use "../../../../styles/media" as media;
@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixin" as mix;

.tryItFree {
  padding: 40px;
  background-image: url("/images/cta-card.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;


  img {
    width: 207px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }


  .tryItFreeTitle {
    gap: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 600;
      text-align: center;
      color: #fafdff;
      font-size: 36px;
      line-height: 36px;
    }

    p {
      max-width: 300px;
      width: 100%;
      color: #FAFDFF;
      text-align: center;
    }
  }

  .btnBlack {
    @include mix.button-base;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1215686275);
    background: vars.$color-dark-gray;
    color: vars.$color-white;

    &:hover {
      color: vars.$color-light-blue;
    }
  }
}
