@use "../../../../styles/media" as media;
@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixin" as mix;


.impressMain {
  margin-top: 160px;

  @include media.xs {
    margin-top: 80px;
  }
}

.impressHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  h2 {
    @include mix.heading-2;

    @include media.xs {
      font-size: 24px;
    }
  }

  p {
    @include mix.paragraph;
    text-align: center;

    @include media.xs {
      font-size: 16px;
    }
  }
}

.impressCnt {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.impressBox {
  gap: 10px;
  justify-content: space-between;
  display: flex;
  position: relative;
  @include media.md {
    flex-direction: column-reverse;
  }


  &:nth-child(4) {
    flex-direction: row-reverse;

    .impressInfo {
      background-image: url("/public/images/card-fon.png");
      background-repeat: no-repeat;
      background-size: cover;


      p {
        @include mix.paragraph;
        color: vars.$color-white;
        font-size: 16px;
        max-width: 329px;

        @include media.xs {
          text-align: center;
          font-size: 14px;
        }
      }

      @include media.xs {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


    button {
      @include mix.button-base;
      text-align: center;
      color: vars.$color-white;
      background: vars.$color-dark-gray;
      transition: color .3s ease-in-out;

      @include media.xs {
        margin: 0 auto;
      }

      &:hover {
        color: vars.$color-light-blue;
      }
    }

    @include media.md {
      flex-direction: column-reverse;
    }
  }
}


.impressPicture {
  width: 50%;
  height: fit-content;
  aspect-ratio: 16 / 9;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media.md {
    width: 100%;
  }
}

.impressInfo {
  width: 49.6%;
  background: #262728;
  padding: 20px 80px;
  border-radius: 16px;
  flex-direction: column;
  display: flex;
  justify-content: center;

  @include media.md {
    width: 100%;
  }


  @include media.xs {
    padding: 20px;
    align-items: center;
  }

  h3 {
    @include mix.heading-3;
    @include media.xs {
      text-align: center;
      font-size: 18px;
    }
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    max-width: 350px;
    width: 100%;
    color: vars.$color-white-60;
    margin-bottom: 20px;

    @include media.xs {
      text-align: center;
      font-size: 14px;
    }
  }
}

